<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>930203924640-2280ku8qf8p486v9c0gqgmmru6g83au7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.930203924640-2280ku8qf8p486v9c0gqgmmru6g83au7</string>
	<key>API_KEY</key>
	<string>AIzaSyCouaUKQMmNDMHbWaRE-2xHfMy6ee3sLmE</string>
	<key>GCM_SENDER_ID</key>
	<string>930203924640</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterBlogApp</string>
	<key>PROJECT_ID</key>
	<string>blogappflut</string>
	<key>STORAGE_BUCKET</key>
	<string>blogappflut.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:930203924640:ios:7aa8e33451dd309f</string>
	<key>DATABASE_URL</key>
	<string>https://blogappflut.firebaseio.com</string>
</dict>
</plist>